body{
    margin: 0;
    padding: 0;
    background-color: rgb(37, 35, 35);
    color: white;
}

div{
    display: block;
}

.zona{
    min-height: 250px;
    border: solid  black 1px;
}

#vermelho{
    background-color: red;
}

#verde{
    background-color: green;
}

#rosa{
    background-color: pink;
}

.arrastar{
    background-color: #1A1A1C;
    padding: 16px;
    box-shadow: 0 2px 2px -1px #FD951Fcc;
    width: 250px;
    margin: 25px 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1em;
    color: white;
}

.is-dragging{
    background-color: white;
}
