body{
    margin: 0;
    padding: 0;
    background-color: rgb(37, 35, 35) !important;
}

div{
    display: block;
}

.zona{
    min-height: 250px;
    width: auto;
    border: solid  black 1px;
}

#vermelho{
    background-color: red;
}

#verde{
    background-color: green;
}

#rosa{
    background-color: pink;
}

.arrastar{
    background-color: rgb(105, 98, 32);
    padding: 16px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.8);
    width: auto;
    margin: 25px 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1em;
}

.is-dragging{
    cursor: move !important;
    background-color: white;
}
